<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                <h2 class="block-title color-white text-center"> Today's Special </h2>
                <h5 class="title-caption text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm incididunt ut labore et dolore magna aliqua. Ut enim ad minim venia,nostrud exercitation ullamco. </h5>
            </div>
            <div class="special-box">
                <div id="owl-demo" class="owl-carousel owl-theme">
                {{#each menu.menuSpecial}}
                    <div class="item item-type-zoom">
                        <a href="#" class="item-hover">
                            <div class="item-info">
                                <div class="headline">{{this.title}}
                                    <div class="line"></div>
                                    <div class="dit-line">{{this.text}}</div>
                                </div>
                            </div>
                        </a>
                        <div class="item-img">
                            <img src="%=static=%img/assets/menu/{{this.img}}" alt="sp-menu">
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <!-- end special-box -->
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
</div>
<!-- end container -->
