/*------------------------------------------------------------------
    COPYRIGHT AREA
-------------------------------------------------------------------*/
.copyright-main {
    border-top: 2px dotted #fff;
    text-align: center;
    padding-top: 25px;
    margin-top: 70px;
    padding-bottom: 25px;
}
.copyright-main .copy-title {
    letter-spacing: 1px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding-bottom: 0;
}
