<div class="footer-news pad-top-100 pad-bottom-70 parallax">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="section-title-wrap" data-aos="fade-in" data-aos-duration="4000">
                    <h2 class="ft-title color-white text-center"> Newsletter </h2>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <form>
                    <input type="email" placeholder="Enter your e-mail id">
                    <a href="#" class="orange-btn"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a>
                </form>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end footer-news -->
<div class="footer-box pad-top-70">
    <div class="container">
        <div class="row">
            <div class="footer-in-main">
                <div class="footer-logo">
                    <div class="text-center">
                        <img src="%=static=%img/general/logo.png" alt="" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-box-a">
                        <h3>About Us</h3>
                        <p>Aenean commodo ligula eget dolor aenean massa. Cum sociis nat penatibu set magnis dis parturient montes.</p>
                        <ul class="socials-box footer-socials pull-left">
                            {{#each footer.socialList}}
                            <li><a href="{{this.href}}">
                                <div class="social-circle-border"><i class="{{this.icon}}"></i></div>
                            </a></li>
                            {{/each}}
                        </ul>

                    </div>
                    <!-- end footer-box-a -->
                </div>
                <!-- end col -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-box-b">
                        <h3>New Menu</h3>
                        <ul>
                            {{#each footer.menuList}}
                            <li><a href="{{this.href}}">{{this.title}}</a></li>
                            {{/each}}
                        </ul>
                    </div>
                    <!-- end footer-box-b -->
                </div>
                <!-- end col -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-box-c">
                        <h3>Contact Us</h3>
                        {{#each footer.featuresIcon}}
                        <p><i class="{{this.icon}}" aria-hidden="true"></i>
                            {{#if this.href}}
                            <span><a href="{{this.href}}">{{this.text}}</a></span>
                            {{else}}
                            <span>{{this.text}}</span>
                            {{/if}}
                        </p>
                        {{/each}}
                    </div>
                    <!-- end footer-box-c -->
                </div>
                <!-- end col -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-box-d">
                        <h3>Opening Hours</h3>
                        <ul>
                            {{#each footer.featuresSubText}}
                            <li>
                                <p>{{this.title}}</p>
                                <span>{{this.subText}}</span>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                    <!-- end footer-box-d -->
                </div>
                <!-- end col -->
            </div>
            <!-- end footer-in-main -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
{{> footer/copyright}}
</div>
<!-- end footer-box -->
