/*------------------------------------------------------------------
    ABOUT AREA
-------------------------------------------------------------------*/
.about-main {
    background: #E6E6E6;
}
.pad-top-100 {
    padding-top: 90px;
}
.pad-bottom-100 {
    padding-bottom: 90px;
}
.pad-top-70 {
    padding-top: 70px;
}
.pad-bottom-70 {
    padding-bottom: 70px;
}
.block-title {
    font-size: 52px;
    font-family: 'nautilus_pompiliusregular';
    font-weight: bold;
}
.about-images {
    text-align: center;
    position: relative;
}
.about-main h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 20px;
}
.left-btn {
    padding-top: 10px;
}
.about-images img {
    border: 10px solid #f1f1f1;
    box-sizing: border-box;
    border-radius: 999px;
}
.about-images img {
    border: 10px solid #f1f1f1;
    box-sizing: border-box;
    border-radius: 999px;
    max-width: 100%;
}
.about-inset {
    position: absolute;
    top: 0;
    right: 0;
}
